@import "tailwindcss";

@theme {
  --color-primary: #0066FF;
  --color-luxury: #8B5E3C;
  --color-navy: #0A1128;
  --color-light-gray: #F8FAFC;
  --color-text-gray: #64748B;
  
  --font-poppins: "var(--font-poppins)", sans-serif;
}

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #0A1128;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins);
    scroll-behavior: smooth;
  }
}
